<section class="story-section">
  <div class="story-section__container">
    {% if site.data.profile.intro_text %}
    <div class="story-section__intro">
      <p class="story-section__text">{{ site.data.profile.intro_text }}</p>
    </div>
    {% endif %}

    {% if site.data.profile.about %}
    <div class="story-section__about">
      <div class="story-section__photo">
        <img src="{{ site.data.profile.photo | relative_url }}"
             alt="{{ site.data.profile.name }}"
             class="story-section__photo-img">
      </div>
      <h2 class="story-section__heading">About</h2>
      <div class="story-section__content">
        {{ site.data.profile.about | markdownify }}
      </div>
    </div>
    {% endif %}
  </div>
</section>
