*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size-md;
  line-height: $line-height;
  color: $text-color;
  background-color: $background;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $spacing-md;
  font-weight: 600;
  line-height: 1.3;
  color: $text-color;
}

h1 { font-size: $font-size-4xl; }
h2 { font-size: $font-size-2xl; }
h3 { font-size: $font-size-xl; }
h4 { font-size: $font-size-lg; }

p {
  margin-top: 0;
  margin-bottom: $spacing-md;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $secondary-color;
    text-decoration: underline;
  }
}

ul, ol {
  margin-top: 0;
  margin-bottom: $spacing-md;
  padding-left: $spacing-lg;
}

img {
  max-width: 100%;
  height: auto;
}
